#body{
    background-color: #0a192f;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
form{
    background-color: #ccd6f6;    
    max-width: 600px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
#heading{
    color: #64ffda;
    font-family: 'Courier New', Courier, monospace;
}
#fname{
    background-color: beige;
    height: 40px;
    border-radius: 5px;
}
#lname{
    background-color: beige;
    height: 40px;
    border-radius: 5px;
}
#age{
    background-color: beige;
    height: 40px;
    width: 150px;
    border-radius: 5px;
}